// Size of the main dot thing
$dotSize: 40px;

body {
  margin: 0;
  min-width: 250px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #17171a;
  color: white;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  font-size: 17px;
  text-align: center;
}

code {
  padding: 2px 4px;
  color: #58a6ff;
  border-radius: 4px;
  font-family: Fira Code, proxima-nova, Arial, sans-serif;
}

.line {
  position: absolute;
  height: 458px;
  width: 20px;
  margin: 10px;
  top: 50%;
  transform: translate(0, -50%) translate(14px, -10px);
  background-color: #626262;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: min-content;

  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.dot {
  filter: drop-shadow(0 0 10px black);
  display: inline-block;
  width: $dotSize;
  height: $dotSize;
  border-radius: 50%;
  margin: 10px;
}

.event {
  display: flex;
  align-items: center;
}
